$color-primary: #313237;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-elems: #e2e6e9;
$color-hoverBG: #fafbfc;
$color-white: #fff;
$color-green: #27ae60;
$color-red: #eb5757;
$color-bg: #e5e5e5;
