@import "./utils/utils";
@import "./Carousel/Carousel.scss";
@import "./Ellipse/Ellipse.scss";
@import "./Navigation/Navigation.scss";
@import "./Header/Header.scss";
@import "./Footer/Footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.logo {
  width: 40px;
  height: 24px;
  margin: 20px 0 20px 24px;
}

ul {
  list-style: none;
}

.chevron {
  filter: brightness(0)
    saturate(100%)
    invert(16%)
    sepia(7%)
    hue-rotate(193deg)
    contrast(89%);
}

.hot {
  &__hat {
    width: 1132px;
  }

  &__hat-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @extend %h1-bold;
  }
}

.prodslider {
  width: 1132px;
  margin-top: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 32px;
  padding-bottom: 24px;
  width: 272px;
  height: 507px;
  border: 1px solid $color-elems;

  &__image {
    width: 208px;
    height: 208px;
  }

  &__name {
    margin-top: 24px;
  }

  &__price-content {
    height: 44px;
    width: 100%;
    float: left;
    border-bottom: 1px solid $color-elems;
  }

  &__discount-price {
    @extend %h2-bold;
  }

  &__price {
    color: $color-secondary;
    text-decoration: line-through;
    margin-left: 8px;
  }

  &__spec-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @extend %small-text;
    color: $color-secondary;
  }

  &__spec-right {
    display: block;
    font-weight: 600;
    color: $color-primary;
  }
}
