@import "./utils/utils";
@import "./Carousel/Carousel.scss";
@import "./Ellipse/Ellipse.scss";
@import "./Navigation/Navigation.scss";
@import "./Header/Header.scss";
@import "./Footer/Footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.logo {
  width: 40px;
  height: 24px;
  margin: 20px 0 20px 24px;
}

ul {
  list-style: none;
}

.chevron {
  filter: brightness(0)
    saturate(100%)
    invert(16%)
    sepia(7%)
    hue-rotate(193deg)
    contrast(89%);
}

.app {
  width: 100%;
  margin: 0 auto;

  &__wrapper {
    max-width: 1136px;
    margin: 0 auto;
    position: relative;
  }
}

.hot {
  margin: 0 auto;
  max-width: 1136px;

  &__hat {
    width: 1136px;
  }

  &__hat-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @extend %h1-bold;
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__button {
    @include button-reset;
    @include button-light-bg;
    height: 32px;
    width: 32px;
  }
}

.prodslider {
  max-width: 1136px;
  margin-top: 24px;
  overflow: hidden;

  &__list {
    display: flex;
    gap: 16px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 24px;
  width: 272px;
  height: 507px;
  border: 1px solid $color-elems;

  &__image {
    margin: 8px auto 0;
    width: 208px;
    height: 208px;
  }

  &__name {
    @extend %body-text;
    margin-top: 24px;
  }

  &__price-content {
    height: 44px;
    width: 100%;
    float: left;
    margin-bottom: 8px;
    border-bottom: 1px solid $color-elems;
  }

  &__discount-price {
    margin-top: 6px;
    @extend %h2-bold;
  }

  &__price {
    @extend %body-text;
    font-size: 17px;
    color: $color-secondary;
    text-decoration: line-through;
    margin-left: 8px;
  }

  &__spec-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    @extend %small-text;
    color: $color-secondary;
  }

  &__spec-right {
    display: block;
    font-weight: 600;
    color: $color-primary;
  }

  &__buttons {
    display: flex;
    gap: 8px;
    margin-top: 16px;
  }

  &__button {
    @include button-reset;
    height: 40px;

    &--add {
      @include button-dark-bg;
      width: 100%;
    }

    &--fav {
      @include button-light-bg;
      min-width: 40px;
    }
  }
}
