.footer {
  height: 96px;
  width: 100%;
  border-top: 1px solid $color-elems;

  &__container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1136px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  &__item {
    display: flex;
    margin-left: 64px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;
    height: 64px;
    text-decoration: none;
    @extend %uppercase;

    &:hover {
      color: $color-primary;
    }
  }

  &__back-content {
    display: flex;
    align-items: center;
    margin-right: 24px;
  }

  &__back-text {
    @extend %small-text;
    color: $color-secondary;
    margin-right: 16px;
  }

  &__back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border: 1px solid $color-icons;

    &:hover {
      border-color: $color-primary;
    }
  }

  &__chevron {
    filter: brightness(0)
      saturate(100%)
      invert(16%)
      sepia(7%)
      hue-rotate(193deg)
      contrast(89%);
  }
}
